[Desktop Entry]
Name=SD Card Formatter
Comment=Format SD/USB drives with Tuxera's format_sd
Exec=/app/bin/sd_formatter_gui.py
Icon=org.sdcard.Formatter
Terminal=false
Type=Application
Categories=System;Utility;
Actions=Uninstall;

[Desktop Action Uninstall]
Name=Uninstall
Exec=flatpak uninstall org.sdcard.Formatter
